ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }

  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
.Contact {
    background-color: #336700;
    text-align: center;
}
.container {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .hstack {
    width: 100%;
  }
}
.hstack {
  height: 80%;
  background-size: contain;
  align-items: center;
  flex-direction: row;
  flex: 33.33%;
  padding: 5px;
}